* {
  margin: 0;
  padding: 0;
}

html body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.parent {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    180deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(0, 0, 0, 1) 80%,
    rgba(2, 0, 36, 1) 100%,
    rgba(2, 0, 36, 1) 100%
  );
  background-attachment: fixed;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.nav li {
  float: left;
}

.nav a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 14px;
  color: rgba(255, 255, 255, 0.84);
}

.nav a:hover {
  color: #ffffff;
}

.carrousel {
  margin-top: 80px;
}

.contenido {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.564);
  margin: 20px;
  padding-bottom: 177;
}

footer {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.564);
  margin: 20px;
  display: flex;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  width: auto;
}

.contenido-servicios {
  margin-top: 80px;
  padding: 50px;
  color: rgba(255, 255, 255, 0.564);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titulo-servicios{
  font-size: 40px;
    text-align: center;
} 

.servicios{
  margin-top: 10px;
  padding: 60px;
  background-color: rgba(255, 255, 255, 0.564);
  text-align: center;
  flex-wrap: wrap;
}
.servicios li{
  list-style: none;
  text-align: start;
}



.nav .icon-menu {
  display: none;
}



@media screen and (max-width: 700px) {
  .nav ul {
    display: none;
  }

  .nav .icon-menu {
    display: block;
  }


}