* {
  margin: 0;
  padding: 0;
}

html body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.parent {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    180deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(0, 0, 0, 1) 80%,
    rgba(2, 0, 36, 1) 100%,
    rgba(2, 0, 36, 1) 100%
  );
  background-attachment: fixed;
  align-items: center;
}

nav {
  color: aliceblue;
  display: flex;
  align-items: flex-start;
}

.carrousel {
  margin-top: 80px;
}

.contenido {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.564);
  margin: 20px;
  padding-bottom: 177;
}

footer {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.564);
  margin: 20px;
  display: flex;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  width: auto;
}

.contenido-servicios {
  margin-top: 80px;
  padding: 50px;
  color: rgba(255, 255, 255, 0.564);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titulo-servicios {
  font-size: 40px;
  text-align: center;
}

.servicios {
  margin-top: 10px;
  padding: 60px;
  background-color: rgba(255, 255, 255, 0.564);
  text-align: center;
  flex-wrap: wrap;
}
.servicios li {
  list-style: none;
  text-align: start;
}

.contenido-registro {
  margin-top: 80px;
  padding: 50px;
  color: rgba(255, 255, 255, 0.564);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.titulo-registrar {
  font-size: 40px;
  text-align: center;
}

.registro-usuario {
  margin-top: 10px;
  padding: 60px;
  background-color: rgba(255, 255, 255, 0.564);
  flex-wrap: wrap;
}

.registro-usuario li{
  list-style: none;
}

.registro-usuario label{
  width: 30%;
}

.registro-usuario input{
  width: 70%;
}

.btn-registro {
  margin-top: 30px;
  margin-left: 55px;
  padding: 8px;
  background-color: rgb(49, 136, 173);
  justify-content: center;
  color: rgba(255, 255, 255, 0.564);
  border-style: none; 
}

.btn-registro:hover {
  background-color: rgb(32, 81, 102);
  color: aliceblue;
}






@media screen and (max-width: 700px) {
  .nav ul {
    display: none;
  }

  .nav .icon-menu {
    display: flex;
    align-items: flex-end;
  }
}
